*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;
    background:linear-gradient(135deg,#8d4908, #0b933d)
}
.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:30px;
    height: 55px;
    width: 400px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #978fa0;
    width: 87px;
    height: 65px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #08e9c0;
    background-color: hsla(62, 59%, 31%, 0.973);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
